*{
	padding:0;
	margin:0;
}
body{
	overflow-x:hidden;
	overflow-y:hidden;
	background:black;
	position:relative;
}
ul li{
	list-style:none;
}
video{
	display:none;
}
video.active{
	display:block;
}
img{
	display:block;
	width:100%;
	margin:0 auto;
}
/**/
.defaultImg{
	/*display: none;*/
}


.content{
	display:none;
}
.content div{
	display:none;
}
.content div.active{
	display:block;
}
.content img{
	display: none;
	margin:0 auto;
}
.content img.active{
	display:block;
}
/*闪烁的小点*/
.point,
.othPoint{
	display:none;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:purple;
	position:absolute;
	z-index: 100001;
	box-shadow: 0 0 2px 2px purple;
	/*test*/
/*	left:55.5% !important;
	bottom:14.1% !important;*/
}
/*乱入的闪烁小点*/
.othPoint{
	background:blue;
	box-shadow: 0 0 2px 2px blue;
/*	left:35%;
	top:20%;*/
}
/*纠错*/
.modal-dialog{
	margin:0 !important;
}
@media (min-width: 768px){
	.modal-dialog{
		width:100%;
	}
}

.modal-dialog p{
	color:white;
	font:40px "微软雅黑";
	text-align:center;
	position: relative;
	margin:0 auto;
	top:48%;
}