*{
	padding:0;
	margin:0;
}
ul li{
	list-style:none;
}
/**/
h1{
	text-align: center;
}
.wait{
	width:200px;
	padding:20px;
	font: 20px "微软雅黑";
	text-align:center;
	border:1px solid #666;
	margin:0 auto;
	margin-top:50px;
}
.content{
	display:none;
}
.content button{
	display:none;
	width:150px;
	font:20px "微软雅黑";
	padding:20px;
	margin:0 auto;
	margin-top: 50px;
}
.content button.active{
	display:block;
}
.refresh{
	display:block;
	font:15px "微软雅黑";
	padding:10px;
	margin: 40px;
}