*{
    padding:0;
    margin:0;
}
/**/
h2{
    text-align: center;
    color:red;
    margin:30px;
}
div button{
    display:none;
    margin:0 auto;
    margin-top:50px;
    font:16px "微软雅黑";
    padding:10px;
}
div.active button{
    display:block;
}