*{
	padding:0;
	margin:0;
}
body{
	overflow-x:hidden;
	overflow-y:hidden;
}
ul li{
	list-style:none;
}
audio{
	display:none;
}
video{
	display:none;
}
video.active{
	display:block;
}
/**/
.defaultImg img{
	display:none;
}
.defaultImg img.active{
	display: block;
}
/*所有山 隐藏*/
.mountain{
	display:none;
}
div.mountainBlock{
	display:block;
}
/*山 -> 帧*/
.mountain > div{
	display:none;
}
.mountain > img{
	display:none;
}
.mountain > img.active{
	display:block;
}
.mountain > div.active{
	display:block;
}
/*图片*/
.mountain > div > img{
	display:none;
}
.mountain > div > img.active{
	display:block;
}

/*纠错*/
.modal-dialog{
	margin:0 !important;
}
@media (min-width: 768px){
	.modal-dialog{
		width:100%;
	}
}

.modal-dialog p{
	color:white;
	font:48px "微软雅黑";
	text-align:center;
	position: relative;
	margin:0 auto;
	top:50%;
	margin-top:-30px;
}
/*小地图*/
.smallMap{
	display:none;
	width:200px;
	height:200px;
	border-radius:50%;
	overflow:hidden;
	/*-webkit-border-image:url(../img/border.png) 0 0 round;*/
	position:fixed;
	right:100px;
	bottom:100px;
	/*background:#ddd;*/
	/*opacity: 0.9;
	filter:alpha(opacity=90);*/
}
.smallMap .pointBox{
	width:100%;
	height:200px;
	z-index: 1001;
}
.smallMap .pointBox .point{
	display:none;
	width:10px;
    height:10px;
    border-radius: 50%;
    background:blue;
    position:absolute;
    z-index: 100001;
    box-shadow: 0 0 2px 2px blue;
}
.smallMap img{
	width:100%;
	display:none;
}
.smallMap img.active{
	display:block;
}
.smallMap .pointBox,
.smallMap img.v{
	transform-origin:center center;
	position:absolute;
	top:0;
	left:0;
}